/* Reset CSS */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Globals styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
    
/* Header Styles */
.header {
background-image: url(Ilustrasi-oleh-iBerita-ID.jpg);
color: #fff;
text-align: center;
padding: 100px 0;
background-repeat:no-repeat;
background-size: cover;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.header p {
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 18px 20px;
    background-color: rgb(4, 48, 38);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0,3s ease;
}

.btn:hover {
    background-color:rgb(150, 203, 198);
}

/* Fealure Styles */
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.feature {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 10px black;
    border-radius: 5px;
}

.feature img {
    width: 88px;
    height: 80px;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

/* footer styles */
.footer {
    background-color: rgb(108, 162, 157);
    color: #101010;
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(4, 48, 38);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
}

li a:hover {
    background-image: rgb(194, 221, 217);
}

li {
    display: inline;
    margin-right: 10px 0;
    float: left;
}
.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px, 8px, 16px, 0px rgba(0, 0, 0, 0,2);
    z-index: 1;
}



a{
    color: #fff;
    text-decoration: double;
}

/* Tema Kanan Atas*/
.Tema {
    text-align: center;
    text-decoration: none;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
    color: #fff;
    float: right;
    font-size: 18;

}
/* Header Styles */
.header2 {
    background-image: url(Vertical\ Farm\ Company.jpeg);
    color: #dfdfda;
    text-align: center;
    padding: 200px; 
    background-repeat:no-repeat;
    background-size: cover; 
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif
    }

    .header3 {
        background-image: url(DIY\ Aquaponic\ Plans.jpeg);
        color: #1010105;
        text-align: center;
        padding: 200px; 
        background-repeat:no-repeat;
        background-size: cover; 
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif
        }

.header4 {
    background-image: url(blog-aquaponics.png);
    color: #dfdfda;
    text-align: center;
    padding: 200px; 
    background-repeat:no-repeat;
    background-size: cover; 
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif
    }


    .feature2 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(108, 162, 157);
    box-shadow: 10px black;
    border-radius: 5px;
    }

    .feature3 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(154, 199, 195);
    box-shadow: 10px black;
    border-radius: 5px;
    }

    .feature4 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(108, 162, 157);
    box-shadow: 10px black;
    border-radius: 5px;
    }

    .feature5 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(154, 199, 195);
    box-shadow: 10px black;
    border-radius: 5px;
    }

    .feature6 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(60, 106, 101);
    box-shadow: 10px black;
    border-radius: 5px;
    }

    .feature7 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(94, 146, 140);
    box-shadow: 10px black;
    border-radius: 5px;
    }

    .feature8 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(129, 180, 174);
    box-shadow: 10px black;
    border-radius: 5px;
    }

    .feature9 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(164, 208, 203);
    box-shadow: 10px black;
    border-radius: 5px;
    }

    .feature10 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(194, 221, 217);
    box-shadow: 10px black;
    border-radius: 5px;
    }

    .feature11 {
        text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(226, 238, 237);
    box-shadow: 10px black;
    border-radius: 5px;
    }


    .footer1 {
        background-color: rgb(108, 162, 157);
        color: #101010;
        text-align: center;
        padding: 20px 0;
    }

    .footer2 {
        background-color: rgb(108, 162, 157);
        color: #101010;
        text-align: center;
        padding: 20px 0;
    }

    .footer3 {
        background-color: rgb(108, 162, 157);
        color: #101010;
        text-align: center;
        padding: 20px 0;
    }