body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color:  rgb(25, 86, 72);
}

form {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid rgb(108, 162, 157);
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(108, 162, 157);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(108, 162, 157);
}

.forgot {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: rgb(108, 162, 157);
}

a:hover {
    text-decoration: underline;
}